@import (reference) "css/component-theme";

.fat-button
{
    .component-theme();

    display: inline-block;
    background: #3e64e1;
    color: white;
    padding: 20px 37px;
    border-radius: 5px;
    border: 3px solid #193ec1;
    font-size: 17px;
    cursor: pointer;
    user-select: none;

    &:hover
    {
        background: #637ccd;
        border-color: #5a5be9;
    }

    &:active
    {
        background: #2e4db1;
        border-color: #2e4db1;
    }
}